<body class="text-center">   
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <h1 class="h3 mb-3 fw-normal">Kayıt Olun</h1>  
        <div class="form-floating">
            <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Adınız">
            <label for="firstName">Adınız</label>
          </div>
          <div class="form-floating">
            <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Soyadınız">
            <label for="lastName">Soyadınız</label>
          </div> 
        <div class="form-floating">
          <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-Posta</label>
        </div>
        <div class="form-floating">
          <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Parola</label>
        </div>
        <button (click)="register()" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
      </form>
    </main>
 </body>