<ul class="d-flex ">
    <div *ngIf="isAuthenticated==false" class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="login">Giriş Yap</a>
    </div> 
    <div *ngIf="isAuthenticated==false" class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="register">Kayıt Ol</a>
    </div>
    <div *ngIf="isAuthenticated==true" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{userName}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#" routerLink="user/update">Bilgilerimi Güncelle</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" (click)="logOut()">Çıkış Yap</a></li>
      </ul>
    </div>   
  </ul> 