<div class="content">
<div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <br>
      <app-color></app-color>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3 mb-3">
        <select
          class="form-select"
          [(ngModel)]="brandId"
          aria-label="Default select example"
        >
          <option value="0" selected>Marka</option>
          <option value="{{ brand.brandId }}" *ngFor="let brand of brands">
            {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <select
          class="form-select"
          [(ngModel)]="colorId"
          aria-label="Default select example"
        >
          <option value="0" selected>Renk</option>
          <option value="{{ color.colorId }}" *ngFor="let color of colors">
            {{ color.colorName }}
          </option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <input type="number" [(ngModel)]="filterBrandId" class="form-control" placeholder="Marka Id giriniz.">
        </div>
        <div class="col-md-3 mb-3">
          <input type="number" [(ngModel)]="filterColorId" class="form-control" placeholder="Renk Id giriniz.">
          </div>
          <div class="col-md-3 mb-3">
            <button type="button" (click)="filter()" class="btn btn-success">
              Filtrele
            </button>
          </div>
    </div>
    <div *ngIf="filterBrandId" class="alert alert-success">
      {{filterBrandId}} aradınız.
        </div>
        <div *ngIf="filterColorId" class="alert alert-success">
          {{filterColorId}} aradınız.
            </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Marka Id</th>
          <th>Renk Id</th>
          <th>Model(Yıl)</th>
          <th>Ücret</th>
          <th>Açıklama</th>
          <th>Detay</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars | filterByBrand:filterBrandId |filterByColor:filterColorId">
          <td>{{car.id}}</td>
          <td>{{car.brandId}}</td>
          <td>{{car.colorId}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice}} ₺</td>
          <td>{{car.description}}</td>
          <td><a class="btn btn-info" routerLink="/cars/car/{{car.id}}" (click)="setCurrentCar(car)">Araç Detayları</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
