<div class="content">
<div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <br>
      <app-color></app-color>
  </div>
  <div class="col-md-9">
    <br>
    <div class="row">
      <div class="col-md-3 mb-3">
        <select
          class="form-select"
          [(ngModel)]="brandId"
          aria-label="Default select example"
        >
          <option value="0" selected>Marka</option>
          <option value="{{ brand.brandId }}" *ngFor="let brand of brands">
            {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <select
          class="form-select"
          [(ngModel)]="colorId"
          aria-label="Default select example"
        >
          <option value="0" selected>Renk</option>
          <option value="{{ color.colorId }}" *ngFor="let color of colors">
            {{ color.colorName }}
          </option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <input type="number" [(ngModel)]="filterBrandId" class="form-control" placeholder="Marka Id giriniz.">
        </div>
        <div class="col-md-3 mb-3">
          <input type="number" [(ngModel)]="filterColorId" class="form-control" placeholder="Renk Id giriniz.">
          </div>
          <div class="col-md-3 mb-3">
            <button type="button" (click)="filter()" class="btn btn-success">
              Filtrele
            </button>
          </div>
    </div>
    <div *ngIf="filterBrandId" class="alert alert-success">
      {{filterBrandId}} aradınız.
        </div>
        <div *ngIf="filterColorId" class="alert alert-success">
          {{filterColorId}} aradınız.
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col"*ngFor="let car of cars | filterByBrand:filterBrandId |filterByColor:filterColorId" >
                <div class="card h-100">
                  <img [src]="getImageSource(car.id)" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Araç Açıklaması</h5>
                    <p class="card-text">{{car.description}}</p>
                    <p class="card-text">Model: {{car.modelYear}}</p>
                    <p class="card-text">Günlük Ücret: {{car.dailyPrice}} ₺</p>
                    <p class="card-text">Gereken Findeks Puanı: {{car.findeks}}</p>
                  </div>
                  <div class="card-footer">
                  <div class="btn-group">
                    <button class="btn btn-info" routerLink="/cars/car/{{car.id}}" (click)="setCurrentCar(car)">Detay</button>
                    <button class="btn btn-warning" routerLink="/cars/update/{{car.id}}">Güncelle</button>
                  </div>       
                  </div>
                </div>
              </div>
            </div>
  </div>
</div>
</div>
